.scrollable {
    overflow-x: hidden;
    overflow-y: auto;
    
    &::-webkit-scrollbar {
        width: 6px;
    }
      
    &::-webkit-scrollbar-track {
        background: transparent;
    }
      
    &::-webkit-scrollbar-thumb {
        background-color: rgba(0, 0, 0, 0.12);
        width: 6px;
        border-radius: 4px;
    }
}